@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 13 13 15; /* #131315 */
    --foreground: 229 225 228; /* #e5e1e4 */
  }

  html, body {
    @apply antialiased overflow-x-hidden;
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
